html,
body {
  margin: 20px;
  font-size: 14px;
}

#main {
  max-width: 1000px;
}

.author {
  font-size: 70%;
}

#posts {
  width: 300px;
  float: left;
}

#bin {
  width: 200px;
  float: left;
  margin-left: 30px;
}

.title {
  font-size: 125%;
}

.rated-cards {
  float: left;
  margin: 15px;
}

.all-cards {
  clear: both;
}

.draggable-object {
  padding-bottom: 2px;
}

/* stylelint-disable-next-line selector-class-pattern */
.dropTarget {
  width: 300px;
  height: 100px;
  background-color: darkgray;
  color: white;
  line-height: 100px;
  text-align: center;
  font-size: 16px;
  padding: 1em;
}

/* stylelint-disable-next-line selector-class-pattern */
.dropTarget.accepts-drag {
  background-color: cadetblue;
}

/* stylelint-disable-next-line selector-class-pattern */
.dragObject {
  position: relative;
  margin-top: 100px;
  width: 300px;
  height: 100px;
  background-color: blueviolet;
  line-height: 100px;
  text-align: center;
  font-size: 16px;
  padding: 1em;
  color: white;
}

/* stylelint-disable-next-line selector-class-pattern */
.sortObject {
  margin: 1em;
  width: 300px;
  height: 100px;
  background-color: blueviolet;
  line-height: 100px;
  text-align: center;
  font-size: 16px;
  padding: 1em;
  color: white;
}

/* stylelint-disable-next-line selector-class-pattern */
.u-pullLeft {
  float: left;
}

/* stylelint-disable-next-line selector-class-pattern */
.u-marginLeft {
  margin-left: 10%;
}

/* stylelint-disable-next-line selector-class-pattern */
.u-fullBlock {
  display: inline-block;
  width: 100%;
}

/* stylelint-disable-next-line selector-class-pattern */
.u-halfBlock {
  display: inline-block;
  width: 50%;
}

/* stylelint-disable-next-line selector-class-pattern */
.dragHandle {
  display: inline-block;
  position: absolute;
  top: 1em;
  right: 1em;
  width: 1.5em;
  height: 1.5em;
  background-color: #fff;
  border: 1px solid #333;
  cursor: move;
}
